.navbar {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #dadce0;
    height: 70px;
}

.btn-primary {
    background-color: #ff2806;
    border-color: #ff2806;
}


.btn-primary:hover {
    background-color: #ff2806;
    border-color: #ff2806;
}


.btn-primary:active {
    background-color: #ff2806;
    border-color: #ff2806;
    opacity: 0.5;
}

.btn-outline-primary {
    border-color: #00ff00;
    color: #00ff00;
}

.btn-outline-primary:hover {
    background-color: #fff;
    border-color: #00ff00;
    color: #00ff00;
}

.btn-outline-primary:active {
    background-color: #fff;
    border-color: #00ff00;
    color: #00ff00;
    opacity: 0.5;
}

.text-bg-primary {
    background-color: #fbe50a !important;
    color: #000 !important;
}

.dish-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}


.dish-card>div>div>div>div>.card-title {
    font-size: 14px;
}

.dish-card>div>div>div>div>p {
    font-size: 12px;
}

.dish-card>div>div>div>a {
    font-size: 12px;
    height: fit-content;
}

.qty-btn {
    background-color: #fff;
    border: 1px solid #ff2806;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.socail-icons>i {
    font-size: 28px;
    color: #ff2806;
}

.fit-height {
    height: fit-content;
}

.slected-logo {
    display: none;
}

.spinner-border {
    width: 20px;
    height: 20px;
    font-size: 10px;
}

#submit-restaurant,
#addDish {
    display: flex;
    align-items: center;
    gap: 4px;
}

#restaurant-spinner,
#dish-spinner {
    display: none;
}

.res-logo-image,
.dish-image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.page-spinner {
    width: 200px;
    height: 200px;
}